*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #f7f7f7;
}

    /* logo  */
.container-fluid img {
    vertical-align: middle;
    width: 15vh;
}

    /* nav button  */
#btn1 {
    background-color: #e3f2fd;
}

.btn:hover {
    background-color: #49799b;
}

/* Image  */

#soaimg {
    width: 100%;
    height: 550px;
}

/* Vission Mission */
.vm{
    display: flex;
    width: 80%;
    border: 2px solid black;
    margin: 20px;
    background-color: #f7f7f7;
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-color: #eae9e9;
    border-style: solid;
    margin-left: 150px;
}

.vm h1{
    text-align: center;
}

.vm p{
    text-align: center;
    line-height: 30.5px;
}

.vission{
    width: 50%;
}

.mission{
    width: 50%;
    line-height: 35.5px;

}

/* HISTORY */
.history{
    border: 2px solid black;
    margin: 10px;
    padding: 25px;
    background-color: #cdcdcf;
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-color: #eae9e9;
    border-style: solid;
    /* margin-left: 150px; */
}

.div2 p{
    line-height: 30px;
}

.ra{
    display: flex;
    width: 80%;
    border: 2px solid black;
    margin: 20px;
    background-color: #dbd8d8;
    /* background-color: #cdcdcf; */
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px 0px 0px 0px;
    border-color: #eae9e9;
    border-style: solid;
    margin-left: 150px;
}

.ranking{
    width: 50%;
}

.accreditation{
    width: 50%;
}

.ra h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.ra p{
    /* text-align: center; */
    line-height: 30.5px;
}

.ra ol li{
    line-height: 30.5px;
}

.ra a{
    font-size: 18px;
}

.ranking{
    width: 50%;
}

.accreditation{
    width: 50%;
    line-height: 35.5px;

}

/* FOOTER STARTS  */
.footer{
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
} 

footer{
    width: 100%;
    position: absolute;
    bottom: -34S50px;
    /* bottom: 0px; */
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logofooter{
      width: 80px;
      margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
  width: fit-content;
  border-bottom: 1 px solid #ccc;
  margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form.far{
      font-size: 18px;
      margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fab{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      background: #fff;
      margin-right: 15px;
      cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
      text-align: center;
}

#text{
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    text-transform: capitalize;
    /* text-transform: uppercase; */
}
/* FOOTER ENDS  */

@media only screen and (max-width: 600px) {
    .vm{
            width: 100%;
            margin: 10px;
            display:block;
    }

    .vission{
        width: 100%;
        margin: 10px;
        margin-left: -5px;
        /* margin-right: 50px; */
        padding: auto;
    }

    .vission p{
        line-height: 20px;
        text-align: justify;
        margin-left: 0;
        margin-right: 10px;
        /* margin-right: 30px; */
        padding: auto;
    }

    .mission{
        width: 100%;
        margin: 10px;
        margin-left: -15px;
        /* margin-right: 50px; */
        padding: auto;
    }

    .mission li{
        line-height: 20px;
        text-align: justify;
        margin-left: 0;
        margin-right: 10px;
        /* margin-right: 30px; */
        padding: auto;
    }

    .history h2{
        text-align: center;
    }

    .history p{
        text-align: justify;
    }

    .ra{
        width: 100%;
        margin: 0;
        display:block;
        line-height: 20px;
    }

    .ranking{
        width: 100%;
    }

    .ranking h2{
        text-align: center;
    }

    .ranking p{
        display: block;
        text-align: justify;
        
    }

    .accreditation{
        width: 100%;
    }
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
        
    }
  
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }

    .marquee {
        width: 100%;
}
#text{
    width: 100%;
}
  }